.homescreen {
  max-width: 400px;
  margin: 9rem auto;
  padding: 1rem 1rem;
  background-color: #f4f4f4;
  box-shadow: 5px 5px 10px #555;
  border-radius: 5px;
}

.homescreen > select {
  margin-top: 5px;
  width: 100%;
}

.homescreen__search__button {
  padding: 10px 17px;
  margin-top: 10px;
  width: 100%;
  background: #171717;
  color: #f4f4f4;
  border: 1px solid #171717;
}
