.homescreen {
  max-width: 400px;
  margin: 9rem auto;
  padding: 1rem 1rem;
  background-color: #f4f4f4;
  box-shadow: 5px 5px 10px #555;
  border-radius: 5px;
}

.homescreen > select {
  margin-top: 5px;
  width: 100%;
}
