* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(35deg, #e66465, #9198e5);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

img {
  width: 100%;
  object-fit: contain;
}
